.bbpa-card__header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	width: 100%;
}

.bbpa-card__header-actions {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.bbpa-card__title {
	font-size: 14px;
	font-weight: 600;
}
