.bbpa-admin-app .bbpa-chart-frame {
    width: 100%;
}

.bbpa-admin-app .bbpa-chart-frame[data-height='240'] {
    height: 240px;
}

.bbpa-admin-app .bbpa-chart-frame[data-height='260'] {
    height: 260px;
}

.bbpa-admin-app .bbpa-chart-frame[data-height='480'] {
    height: 480px;
}
