.bbpa-admin-app .bbpa-admin-app__realtime-button-skeleton {
  inline-size: 2ch;
  block-size: 0.85em;
}

@media (max-width: 782px) {
  .bbpa-admin-app .bbpa-admin-app__realtime-button.components-button {
    display: none !important;
  }

  .bbpa-admin-app
    .bbpa-admin-app__version:not(.bbpa-admin-app__version--footer) {
    display: none !important;
  }

  .bbpa-admin-app .bbpa-admin-app__footer {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}
